<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- title  -->
    <title>JustSew | <%= title %></title>
    <!-- render all elements normally -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- main css file  -->
    <link rel="stylesheet" href="/css/main.css">
    <% if(css != "") {%>
    <link rel="stylesheet" href="/css/<%=css%>.css">
    <%}%>
    <!-- icons  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/thinline.css">
    <script src="https://kit.fontawesome.com/59bf208428.js" crossorigin="anonymous"></script>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;600;700;800&family=Cinzel+Decorative:wght@400;700&family=Nothing+You+Could+Do&family=Open+Sans:wght@300&family=Pattaya&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <!-- for uploading files -->
    <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet"/>

    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.js"></script>
    <script defer src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
    <script defer src="/javaScript/fileupload.js"></script>
</head>
<body>
    <%- include("../partials/menu.ejs") %>
    <%- body %>
    <%- include("../partials/footer.ejs") %>
</body>
</html>